/* Colors */
html {
    --extra-bg-body-color: #0b100a;
    --extra-selected-color: #47533e;
    --extra-bg-treeview-color: #1c2118;
    --extra-bg-footer-color: #0b100a;
    --extra-bg-header: #12160f;

    --extra-color-link: #47533e;
}

body {
    background-color: var(--extra-bg-body-color);
}



/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--extra-selected-color);
    background-clip: padding-box;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    border: 3px solid rgba(0, 0, 0, 0);
  }




/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: 'Inter', sans-serif !important;
    text-shadow: none !important;
}

/* body, table, div, p, dl {
    font-size: 16px;
    line-height: 24px;
} */


body #mainpage, table #mainpage, div #mainpage, p #mainpage, dl #mainpage {
    font-size: 24px;
    line-height: 32px;
}


/* Header */
#titlearea {
    border-bottom: 0;
    padding: 28px 0 24px;
    background-color: var(--extra-bg-header);
}

#projectname {
    font-size: 260%;
    font-weight: 700;
    line-height: 140%;
}

#projectbrief {
    opacity: 0.6;
}

#projectnumber {
    opacity: 0.6;
    margin-left: 8px;
    font-weight: 400;
}



.sm-dox a, .sm-dox a:focus, .sm-dox a:active, .sm-dox a:hover, .sm-dox a.highlighted {
    background: none;
}

.navpath ul {
    border: 0;
    background: none;
    background-color: var(--extra-bg-footer-color);
}



/* Miscelaneous */
#nav-sync {
    display: none;
}

.ui-resizable-e {
    background: none;
}

#projectalign {
    padding-left: 22px;
}

div.header {
    background: none;
    border: 0;
}

div.header .title {
    margin: 48px 0px 24px;
}



/* Content */
div.summary {
    padding-right: 40px;
}

div.headertitle {
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
}


div.contents {
    margin-left: 40px;
    margin-right: 40px;
}

div.contents a {
    /* color: var(--extra-color-link); */
    text-decoration: underline;
}

#bigger ~ p {
    font-size: 20px;
    line-height: 28px;
}




/* Sidebar */
#side-nav {
    min-width: 320px;
}



/* Nav tree */
#nav-tree {
    background-color: var(--extra-bg-treeview-color);
}

#nav-tree .selected {
    background: none;
    background-color: var(--extra-selected-color);
}



/* Search */
#MSearchBox {
    border-radius: 8px;
    box-shadow: none;
    margin-top: 24px;
    margin-left: 22px;
    width: 100%;
}

#MSearchBox .left {
    height: 1.85em;
    padding-top: 3px;
}

#MSearchField {
    width: 15em;
}



/* Dark Mode Toggle */
dark-mode-toggle {
    margin-left: 22px;
}





.sm-dox {
    background-image: none !important;
    background-color: var(--header-separator-color);
}

.sm-dox a,
.sm-dox a:focus,
.sm-dox a:hover,
.sm-dox a:active {
    line-height: 48px;
}

#main-menu>li:last-child {
    height: 48px;
}

#nav-tree-contents {
    margin: 24px 0px 0px 0px;
}

#nav-tree .item {
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}


/* Footer */
.footer {
    display: none;
}






.arrow {
    font-size: 75%;
    width: 14px;
}



@media(max-width:768px) {
    #nav-tree {
        display: none;
    }
    
    #side-nav {
        width: 100% !important;
        height: auto !important;
        position: relative;
    }

    #side-nav::before {
        content: 'Not mobile ready. Limited experience.';
        background-color: var(--extra-bg-treeview-color);
        font-size: 12px;
        line-height: 16px;
        display: block;
        padding: 12px 24px;
    }

    #doc-content {
        margin-left: 0 !important;
        height: auto !important;
    }

    div.headertitle {
        padding-left: 24px;
        padding-right: 24px;
    }

    div.contents {
        margin-left: 24px;
        margin-right: 24px;
    }
}